Django>=1.7,<1.8
Markdown>=2.0,<3.0
Pillow>=2.0,<3.0
boto>=2.0,<3.0
dj-database-url>=0.3,<0.4
django-appconf>=0.6,<0.7
django-debug-toolbar>=1.2,<1.3
django-haystack>=2.3,<2.4
django-imagekit>=3.2,<3.3
django-markup>=0.4,<0.5
django-pagination-bootstrap==1.0.5
django-storages>=1.1,<1.2
django-taggit>=0.12,<0.13
gevent>=1.0,<2.0
greenlet>=0.4,<0.5
gunicorn>=19.0,<20.0
pilkit>=1.1,<1.2
psycopg2>=2.5,<2.6
pyelasticsearch>=0.7,<0.8
python-openid>=2.2,<2.3
raven>=5.1,<5.2
requests>=2.0,<3.0
simplejson>=3.0,<4.0
six
sqlparse>=0.1,<0.2
git+git://github.com/jcarbaugh/django-googleauth.git#egg=googleauth