Django==1.6.5
Markdown==2.4.1
Pillow==2.4.0
South==0.8.4
boto==2.29.1
dj-database-url==0.3.0
django-appconf==0.6
django-debug-toolbar==1.2.1
django-haystack==2.1.0
django-imagekit==3.2.1
django-markup==0.4
django-pagination-bootstrap==1.0.5
django-storages==1.1.8
django-taggit==0.12
gevent==1.0.1
greenlet==0.4.2
gunicorn==19.0
pilkit==1.1.9
psycopg2==2.5.3
pyelasticsearch==0.6.1
python-openid==2.2.5
raven==5.0.0
requests==2.3.0
simplejson==3.5.2
six==1.7.2
sqlparse==0.1.11
git+git://github.com/jcarbaugh/django-googleauth.git#egg=googleauth