Django>=1.7,<1.8
Markdown>=2.0,<3.0
Pillow>=2.0,<3.0
boto>=2.0,<3.0
dj-database-url>=0.3,<0.4
django-appconf>=0.6,<0.7
django-debug-toolbar>=1.2,<1.3
django-haystack>=2.3,<2.4
django-imagekit>=3.2,<3.3
# django-markup>=0.4,<0.5
# django-storages>=1.1,<1.2
django-taggit>=0.12,<0.13
elasticsearch>=1.2,<1.3
pilkit>=1.1,<1.2
psycopg2>=2.5,<2.6
python-openid>=2.2,<2.3
raven>=5.1,<5.2
requests>=2.0,<3.0
simplejson>=3.0,<4.0
six
sqlparse>=0.1,<0.2
waitress>=0.8,<0.9
git+git://github.com/jcarbaugh/django-googleauth.git#egg=googleauth
git+git://github.com/bartTC/django-markup#egg=django_markup
git+git://github.com/jcarbaugh/django-pagination-bootstrap#egg=pagination_bootstrap
git+git://github.com/AliLozano/django-storages-py3#egg=storages