{% extends "base.html" %}

{% block content %}
	<div class="row">
        <div class="col-md-12">
       		<h1>{{ object.filename }}</h1>
        	<form class="form-horizontal" role="form" action="." method="post">
        		{% csrf_token %}

    			<p style="margin-bottom: 2em;">Are you <em>sure</em> you want to delete this beautiful image?</p>

    			<p><img src="{{ photo.image_300.url }}" class="the-image"></p>

    			<input type="submit" class="btn btn-default btn-danger" value="Let's do it!">
    			&nbsp;&nbsp;or <a href="{% url 'photolib.image_detail' object.uuid %}">nevermind</a>
			</form>
        </div>
    </div>
{% endblock %}