{% extends "base.html" %}

{% load markup_tags %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ photo.filename }}</h1>
        </div>
        <div class="col-md-4">
            <div class="img-controls">
                <a href="#embed-modal" class="btn btn-default" data-toggle="modal">
                	<span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Embed
                </a>
                <a href="{{ photo.image.url }}" class="btn btn-default">
                	<span class="glyphicon glyphicon-resize-full"></span>&nbsp;&nbsp;View Full Size
                </a>
                <a href="{% url 'photolib.image_edit' photo.uuid %}" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Edit
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">

            <ul class="nav nav-tabs">
                <li class="active"><a href="#full-width" data-toggle="tab">Full Width</a></li>
                <li><a href="#floated" data-toggle="tab">Left or Right</a></li>
                <li><a href="#splash" data-toggle="tab">Splash</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="full-width">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="input-800-url" class="col-sm-2 control-label">800px</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input id="input-800-url" class="form-control focus-select" type="text" value="{{ photo.image_800.url }}">
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" href="{{ photo.image_800.url }}" download="{{ photo.filename }}">
                                            <span class="glyphicon glyphicon-save"></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <img src="{{ photo.image_800.url }}" class="the-image">
                </div>
                <div class="tab-pane" id="floated">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="input-300-url" class="col-sm-2 control-label">300px</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input id="input-300-url" class="form-control focus-select" type="text" value="{{ photo.image_300.url }}">
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" href="{{ photo.image_300.url }}" download="{{ photo.filename }}">
                                            <span class="glyphicon glyphicon-save"></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <img src="{{ photo.image_300.url }}" class="the-image">
                </div>
                <div class="tab-pane" id="splash">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="input-180sq-url" class="col-sm-2 control-label">180px</label>
                            <div class="col-sm-10">
                                <div class="input-group">
                                    <input id="input-180sq-url" class="form-control focus-select" type="text" value="{{ photo.image_180sq.url }}">
                                    <span class="input-group-btn">
                                        <a class="btn btn-default" href="{{ photo.image_180sq.url }}" download="{{ photo.filename }}">
                                            <span class="glyphicon glyphicon-save"></span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                    <img src="{{ photo.image_180sq.url }}" class="the-image">
                </div>
            </div>
        </div>
        <div class="col-md-6">

        	{% if not photo.alt %}
        		<div class="alert alert-danger">
        			<strong>Missing alt text.</strong> Alternative text is important for accessibility.
        		</div>
        	{% endif %}

        	<h3>Content</h3>

            <table class="table table-hover">
            	{% if photo.alt %}
                    <tr>
                        <th>Alt</th>
                        <td>
                            <a href="#" class="btn btn-default btn-xs clipboard" data-for="the-alt" style="float: right;">
                                <span class="glyphicon glyphicon-paperclip"></span>
                            </a>
                            <div class="the-alt">{{ photo.alt }}</div>
                        </td>
                    </tr>
                {% endif %}
                {% if photo.caption %}
                    <tr>
                        <th>Caption</th>
                        <td>
                            <a href="#" class="btn btn-default btn-xs clipboard" data-for="the-caption" style="float: right;">
                                <span class="glyphicon glyphicon-paperclip"></span>
                            </a>
                            <div class="the-caption">{{ photo.caption|apply_markup:"markdown" }}</div>
                        </td>
                    </tr>
                {% endif %}
            </table>

            <h3>Meta</h3>

            <table class="table table-hover">
                {% if photo.credits %}
                    <tr>
                        <th>Credits</th>
                        <td>
                            <a href="#" class="btn btn-default btn-xs clipboard" data-for="the-credits" style="float: right;">
                                <span class="glyphicon glyphicon-paperclip"></span>
                            </a>
                            <div class="the-credits">
                                {{ photo.credits|apply_markup:"markdown" }}
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if photo.source or photo.source_url %}
                    <tr>
                        <th>Source</th>
                        <td>
                            <a href="#" class="btn btn-default btn-xs clipboard" data-for="the-source" style="float: right;">
                                <span class="glyphicon glyphicon-paperclip"></span>
                            </a>
                            {% if photo.source %}
                                <span class="label label-default">{{ photo.source }}</span>
                            {% endif %}
                            {% if photo.source_url %}
                                <div class="hidden the-source"><p>{{ photo.source_url }}</p></div>
                                <small><a href="{{ photo.source_url }}">{{ photo.source_url|truncatechars:50 }}</a></small>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                {% with tags=photo.tags %}
                    {% if tags %}
                        <tr>
                            <th>Tags</th>
                            <td>
                                {% for tag in tags %}
                                    <a href="{% url 'photolib.tagged_list' tag.slug %}" class="label label-info">{{ tag.name }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                {% endwith %}
                {% if photo.notes %}
                    <tr>
                        <th>Notes</th>
                        <td>{{ photo.notes|apply_markup:"markdown" }}</td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div class="modal fade" id="embed-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Embed</h4>
                </div>
                <div class="modal-body">
		            <div class="btn-group" id="embed-selector">
						<a href="#" data-url="{{ photo.image_800.url }}" data-class="blockyblock" class="btn btn-default">Centered</a>
						<a href="#" data-url="{{ photo.image_300.url }}" data-class="right" class="btn btn-default">Right</a>
						<a href="#" data-url="{{ photo.image_300.url }}" data-class="left" class="btn btn-default">Left</a>
						<a href="#" data-url="{{ photo.image_800.url }}" data-class="full-width" class="btn btn-default">Full Width</a>
					</div>
                    <textarea id="embed-textarea" class="focus-select"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="the-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Clipboard</h4>
                </div>
                <div class="modal-body">
                    <textarea class="the-textarea focus-select"></textarea>
                </div>
            </div>
        </div>
    </div>
    <script type="text/template" id="tpl-embed">
<figure class="{% verbatim %}{{ class }}{% endverbatim %}">
	<img src="{% verbatim %}{{{ url }}}{% endverbatim %}" alt="{{ photo.alt }}">
	{% if photo.caption %}<figcaption>{{ photo.caption|apply_markup:"markdown" }}</figcaption>{% endif %}
</figure>
    </script>
{% endblock %}

{% block js %}
	<script src="{% static 'js/mustache.js' %}"></script>
    <script>
        $(document).ready(function() {

            var $modal = $('#the-modal');

            var selectAll = function(elem) {
                var $this = $(elem);
                $this.select();
                window.setTimeout(function() {
                    $this.select();
                }, 1);
                function mouseUpHandler() {
                    $this.off("mouseup", mouseUpHandler);
                    return false;
                }
                $this.mouseup(mouseUpHandler);
            };

            $('.focus-select').focus(function() {
            	selectAll(this);
            });

            $('.clipboard').click(function(ev) {
                ev.preventDefault();
                var content = '';
                var target = $(this).attr('data-for');

                var $p = $('.' + target).find('p');

                if ($p.length === 0) {
                	content = $('.' + target).text();
                } else {
                	$p.each(function() {
                    	content += $(this).html();
                	});
                }

                $modal.find('textarea').text(content);
                $modal.modal();
                selectAll($modal.find('textarea'));
            });

			$('#embed-selector .btn').click(function(ev) {
            	ev.preventDefault();
            	var $this = $(this)
            	$('#embed-selector a.active').removeClass('active');
            	$this.addClass('active');

            	$('#embed-textarea').text(
	            	Mustache.render($('#tpl-embed').text(), {
	            		'url': $this.attr('data-url'),
	            		'class': $this.attr('data-class'),
	            	}).trim()
	            );

	            selectAll($('#embed-textarea')[0]);
            });

        });
    </script>
{% endblock %}
