{% extends "base.html" %}

{% block content %}
    <h1>Help!</h1>

    <div class="qa">
        <h2>Can I upload anything other than JPGs?</h2>
        <p>At this time, no. It's on the <a href="https://github.com/sunlightlabs/horseradish/issues/4">to-do list</a>.</p>
    </div>

    <div class="qa">
        <h2>Drag-and-drop uploading doesn't work.</h2>
        <p>You are correct. Use the old school form on the upload page to get your images into Horseradish until this is working.</p>
    </div>
{% endblock %}